version: '3.2'

services:
  elasticsearch:
    image: elasticsearch:9.2.4
    restart: always
    environment:
      - cluster.name=green-cluster
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - xpack.security.enabled=true
      - xpack.security.http.ssl.enabled=false
      - ELASTIC_PASSWORD=${ELASTICSEARCH_PASSWORD}
      - "ES_JAVA_OPTS=-Xms${ELASTICSEARCH_MEM_IN_MB}m -Xmx${ELASTICSEARCH_MEM_IN_MB}m"
      - ELASTICSEARCH_PLUGINS=ingest-attachment
    ulimits:
      memlock:
        soft: -1
        hard: -1 
    volumes:
      - esdata:/usr/share/elasticsearch/data
    networks:
      - default
volumes:
  esdata:

networks:
  default:
    driver: bridge
