version: '3'

services:
  db:
    image: mariadb
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    restart: always
    volumes:
      - db:/var/lib/mysql
    env_file:
      - db.env
      - .env

  adminer:
    image: adminer:4.6.3
    environment:
      - VIRTUAL_HOST=${ADMINER_MARIA_VIRTUAL_HOST}
      - LETSENCRYPT_HOST=${ADMINER_MARIA_LETSENCRYPT_HOST}
      - LETSENCRYPT_EMAIL=it@oberfeld.be
    networks:
      - proxy-tier
      - default

  nextcloud:  
    build: ./nextcloud
    restart: always
    volumes:
      - nextcloud:/var/www/html
    environment:
      - VIRTUAL_HOST=${NEXTCLOUD_VIRTUAL_HOST}
      - LETSENCRYPT_HOST=${NEXTCLOUD_LETSENCRYPT_HOST}
      - LETSENCRYPT_EMAIL=it@oberfeld.be
      - MYSQL_HOST=db
    env_file:
      - db.env
      - .env
    depends_on:
      - db
    networks:
      - proxy-tier
      - default

  portainer:
    image: portainer/portainer
    container_name: portainer
    command: --admin-password ${PORTAINER_PASSWORD_HASH}
    restart: always
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - VIRTUAL_HOST=${PORTAINER_VIRTUAL_HOST} 
      - LETSENCRYPT_HOST=${PORTAINER_LETSENCRYPT_HOST}
      - LETSENCRYPT_EMAIL=it@oberfeld.be
    env_file:
      - .env
    networks:
      - proxy-tier

  elasticsearch:
    build: ./elasticsearch
    container_name: elasticsearch
    restart: always
    environment:
      - cluster.name=green-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms${ELASTICSEARCH_MEM_IN_MB}m -Xmx${ELASTICSEARCH_MEM_IN_MB}m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata:/usr/share/elasticsearch/data
    networks:
      - proxy-tier
      - default

  proxy:
    build: ./proxy
    restart: always
    ports:
      - 80:80
      - 443:443
    labels:
      com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: ${USE_LETSENCRYPT}
    volumes:
      - certs:/etc/nginx/certs:ro
      - vhost.d:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - proxy-tier

  letsencrypt-companion:
     image: jrcs/letsencrypt-nginx-proxy-companion
     restart: always
     volumes:
       - certs:/etc/nginx/certs
       - vhost.d:/etc/nginx/vhost.d
       - html:/usr/share/nginx/html
       - /var/run/docker.sock:/var/run/docker.sock:ro
     networks:
       - proxy-tier
     depends_on:
       - proxy

volumes:
  db:
  nextcloud:
  certs:
  vhost.d:
  html:
  portainer_data:
  esdata:

networks:
  proxy-tier:
   
