version: '3.2'

services:
  db:
    image: mariadb
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    restart: unless-stopped
    volumes:
      - db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE
      - MYSQL_USER
      - MYSQL_PASSWORD

  nextcloud:
    build: ./nextcloud
    restart: unless-stopped
    volumes:
      - nextcloud:/var/www/html
    environment:
      - NEXTCLOUD_TRUSTED_DOMAINS=${NEXTCLOUD_VIRTUAL_HOST}
      - NEXTCLOUD_ADMIN_USER
      - NEXTCLOUD_ADMIN_PASSWORD
      - VIRTUAL_HOST=${NEXTCLOUD_VIRTUAL_HOST},chischtezwei.oberfeld.be
      - LETSENCRYPT_HOST=${NEXTCLOUD_LETSENCRYPT_HOST},chischtezwei.oberfeld.be
      - LETSENCRYPT_EMAIL=it@oberfeld.be
      - MYSQL_HOST=db
      - MYSQL_DATABASE
      - MYSQL_USER
      - MYSQL_PASSWORD
    depends_on:
      - db
    networks:
      - proxy-tier
      - default

  portainer:
    image: portainer/portainer
    command: --admin-password ${PORTAINER_PASSWORD_HASH}
    restart: always
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - VIRTUAL_HOST=${PORTAINER_VIRTUAL_HOST},chischtezwei.oberfeld.be
      - LETSENCRYPT_HOST=${PORTAINER_LETSENCRYPT_HOST},chischtezwei.oberfeld.be
      - LETSENCRYPT_EMAIL=it@oberfeld.be
      - PORTAINER_PASSWORD_HASH
    networks:
      - proxy-tier

  proxy:
    build: ./proxy
    restart: always
    ports:
      - ${PORT_HTTP:-80}:80
      - ${PORT_HTTPS:-443}:443
    labels:
      com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"
    volumes:
      - certs:/etc/nginx/certs:ro
      - vhost.d:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - proxy-tier

volumes:
  db:
  nextcloud:
  certs:
  acme:
  vhost.d:
  html:
  portainer_data:

networks:
  proxy-tier:
