version: '3'

services:  
  volumerize:
    build: ./volumerize
    environment:
      - VOLUMERIZE_SOURCE=/source
      - VOLUMERIZE_TARGET=${BACKUP_TARGET}
      - VOLUMERIZE_JOBBER_TIME=0 0 3 * * *
      - VOLUMERIZE_CONTAINERS=${COMPOSE_PROJECT_NAME}_db_1 ${COMPOSE_PROJECT_NAME}_nextcloud_1
      - PASSPHRASE=${BACKUP_PASSWORD}
      - VOLUMERIZE_FULL_IF_OLDER_THAN=1M
      - TZ=Europe/Berlin
      - AWS_ACCESS_KEY_ID=    ${BACKUP_AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${BACKUP_AWS_SECRET_ACCESS_KEY}
      - VOLUMERIZE_DUPLICITY_OPTIONS=--file-prefix-archive=archive-
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - db:/source/db:ro  
      - nextcloud:/source/nextcloud:ro