services:
  adminer:
    image: adminer:latest
    environment:
      - VIRTUAL_HOST=${ADMINER_MARIA_VIRTUAL_HOST}
      - LETSENCRYPT_HOST=${ADMINER_MARIA_LETSENCRYPT_HOST}
      - LETSENCRYPT_EMAIL=it@oberfeld.be
    networks:
      - proxy-tier
      - default