services:
  restore:
    build: ./borgmatic
    container_name: restore
    environment:
      - TZ=Europe/Berlin
      - BORG_PASSPHRASE=${BACKUP_PASSWORD}
      # S3 credentials for rclone (to download repo if needed)
      - RCLONE_CONFIG_S3_TYPE=s3
      - RCLONE_CONFIG_S3_PROVIDER=AWS
      - RCLONE_CONFIG_S3_ACCESS_KEY_ID=${BACKUP_AWS_ACCESS_KEY_ID}
      - RCLONE_CONFIG_S3_SECRET_ACCESS_KEY=${BACKUP_AWS_SECRET_ACCESS_KEY}
      - RCLONE_CONFIG_S3_REGION=eu-central-1
    volumes:
      - ./borgmatic/config.yaml:/etc/borgmatic.d/config.yaml:ro
      # Volumes to restore TO (writable)
      - db:/mnt/source/db
      - nextcloud:/mnt/source/nextcloud
      # Borg repository
      - borg-repo:/mnt/borg-repository
      - borg-cache:/root/.cache/borg
      - borg-config:/root/.config/borg
    # Interactive shell for manual restore
    entrypoint: /bin/sh
    stdin_open: true
    tty: true

volumes:
  borg-repo:
  borg-cache:
  borg-config: